.container{
	display: flex;
	flex-direction: row;
}

.sidebar{
	display: block;
	width: 400px;
	height: 100vh;
	left: 0px;
	top: 0px;

	background: #383838;
}

.wrapper{
	display: flex;
	flex-direction: column;
	flex:1;
}



.header{
	display: block;
	width: 76%;
	height: 6%;
	left: 24%;
	top: 0px;

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.content {
	display: flex;
	flex: 1;

	background: #CCCCCC;
}