@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*all on page - container*/

.container{
	display: flex;
	flex-direction: row;
}

/*sidebar*/
.sidebar{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 400px;
	background: #383838;
}

.logo{
	display: flex;
	width: 211px;
	height: 68px;
	background: url("../data/image/logo.png");

	margin-left: 90px;
	margin-top: 60px;
	margin-bottom: 80px;
}

/*menu*/
.menu{
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.menu-item {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid rgba(242, 242, 242, 0.1);
}

.menu-item a{
	color: #B7B7B7;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration: none;

	padding: 15px;
}

.menu-item a:hover {
	background: rgba(255, 255, 255, 0.05);
}

.menu-item:last-child {
	border-bottom:none;
}

/*center part*/
.wrapper{
	display: flex;
	flex-direction: column;
	flex:1;
}

.header{
	display: flex;
	flex-direction: row;
	height: 88px;

	background: #FFFFFF;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.search-film {
	display: flex;
	flex-direction: row;
	height: 40px;
	margin-top: 27px;
	margin-left: 43px;
}

.icon-and-search{
	display: flex;
	flex-direction: row;
	margin-right: 15px;
	width: 450px;
	border-bottom: 1px solid #C4C4C4;
}

.icon-and-search input{
	border: none;
}

.search{
	display: flex;
	margin: 10px;
	width: 18px;
	height: 18px;
	background: url("../data/image/search-new.png");
}

.search-film form {
	display: flex;
	margin-left: 15px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.add-film{
	display: flex;
}

.search-film button {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	width: 89px;
	background: #E7A04E;
	border-radius: 7px;
	border: none;
}

.add-film button {
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	margin-top: 26px;
	margin-left: 134px;
	height: 40px;
	width: 158px;
	background: #4EE7B0;
	border-radius: 7px;
	border: none;
}

.content {
	margin-top: 4px;
	display: flex;
	flex: 1;
	background: #CCCCCC;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-item{
	display: flex;
	flex-direction: column;
	width: 370px;
	height: 700px;

	margin: 20px;
	background: #FFFFFF;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.film-overlay{
	display: none;
	position: absolute;
	width: 370px;
	height: 700px;

	border-radius: 20px;
	background: rgba(0, 0, 0, 0.1);
}

.content-item:hover .film-overlay{
	display: block;
}

.film-overlay a{
	display: flex;
	width: 221px;
	height: 56px;
	margin-top: 300px;
	margin-left: 80px;
	justify-content: center;
	align-items: center;
	border: none;
	text-decoration: none;

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color:  #FFFFFF;

	background: #4EE7B0;
	border-radius: 7px;
}

.content-item img{
	display: flex;
	width: 370px;
	height: 430px;
	object-fit: cover;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.film-title{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #333333;

	margin-left: 20px;
	margin-top: 15px;
}

.film-original-title{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #999999;

	margin-top: 5px;
	margin-left: 20px;
}

.film-border{
	margin: 20px;
	border-bottom: 2px solid #F2F2F2;
}

.film-description{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	height: 130px;


	margin-left: 20px;
}

.film-time-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container-time{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.time-image {
	display: flex;
 	width: 20px;
	height: 20px;
	background: url("../data/image/clock.png");
	margin-left: 20px;
	margin-right: 10px;
}

.time{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}

.genre{
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	margin-right: 20px;
}