@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.movie {
	min-height: 985px;
	margin: 47px;
	background: #fff;
}

@media all and (max-width: 1366px) {
	.movie {
		min-height: 780px;
		margin: 20px;
	}
}

.movie-header {
	display: flex;
	flex-direction: column;
	margin-left: 44px;
	margin-right: 44px;
	margin-top: 35px;
}

.title-heart {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}

.movie-title {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #333;
}

.heart {
	display: flex;

	cursor: pointer;
	border: none;
	width: 42px;
	height: 35px;
	background: url("/data/image/heart.png");
}

.heart-active {
	display: flex;

	cursor: pointer;
	border: none;
	width: 42px;
	height: 35px;
	background: url("/data/image/heart-active.png");
}

.title-age {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-top: 15px;
}

.movie-original {
	display: flex;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #999;
}

.movie-age {
	display: flex;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #ccc;

	background: rgba(242, 242, 242, 0.1);
	border: 2px solid #ccc;
	border-radius: 7px;
	margin-left: 18px;
	justify-content: center;
	align-items: center;

	width: 39px;
	height: 32px;
}

.movie-header-border {
	margin-top: 15px;
	border-bottom: 1px solid #ccc;
}

.movie-footer {
	display: flex;
	flex-direction: row;
	margin-left: 44px;
	margin-top: 32px;
}

.movie-footer img {
	display: flex;
	width: 469px;
	height: 730px;
	object-fit: cover;
}

@media all and (max-width: 1366px) {
	.movie-footer img {
		width: 300px;
		height: 550px;
	}
}

.movie-info {
	display: flex;
	flex-direction: column;
	margin-left: 44px;
	margin-right: 44px;
}

.rating-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.boxes {
	display: flex;
	flex-direction: row;
}

.box-choose + .box,
.box-choose + .box + .box,
.box-choose + .box + .box,
.box-choose + .box + .box + .box,
.box-choose + .box + .box + .box + .box,
.box-choose + .box + .box + .box + .box + .box,
.box-choose + .box + .box + .box + .box + .box + .box,
.box-choose + .box + .box + .box + .box + .box + .box + .box,
.box-choose + .box + .box + .box + .box + .box + .box + .box + .box,
.box-choose + .box + .box + .box + .box + .box + .box + .box + .box + .box {
	background: #f2f2f2;
}

.box {
	display: flex;
	background: #e78818;
	border: 5px solid #fff;
	box-sizing: border-box;
	height: 27px;
	width: 27px;
}

.box:hover {
	background: #e78818 !important;
	cursor: pointer;
}

.box:hover + .box,
.box:hover + .box + .box,
.box:hover + .box + .box,
.box:hover + .box + .box + .box,
.box:hover + .box + .box + .box + .box,
.box:hover + .box + .box + .box + .box + .box,
.box:hover + .box + .box + .box + .box + .box + .box,
.box:hover + .box + .box + .box + .box + .box + .box + .box,
.box:hover + .box + .box + .box + .box + .box + .box + .box + .box,
.box:hover + .box + .box + .box + .box + .box + .box + .box + .box + .box {
	background: #f2f2f2 !important;
}

.ellipse-rating {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 50px;
	width: 55px;
	height: 55px;
	background: #e78818;
	margin-left: 12px;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
}

.ellipse-rating:hover {
	cursor: default;
}

.info-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	margin-bottom: 22px;
}

.movie-year {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.director {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.actor {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.block1-text {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666;
}

.block2-text {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	width: 300px;
}

.block3-text {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
	font-weight: 400;
	font-size: 16px;
	color: #000;
}