@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*all on page - container*/

.container {
	display: flex;
	flex-direction: row;
}

/*sidebar*/
.sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-width: 400px;
	background: #383838;

	position: fixed;
}

.logo {
	display: flex;
	width: 211px;
	height: 68px;

	margin-left: 90px;
	margin-top: 60px;
	margin-bottom: 80px;
}

/*center part*/
.wrapper {
	display: flex;
	flex-direction: column;

	margin-left: 400px;
	flex: 1;
}

.header {
	display: flex;
	flex-direction: row;
	height: 88px;
	justify-content: space-around;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.search-film {
	display: flex;
	flex-direction: row;
	height: 40px;
	margin-top: 27px;
	margin-left: 43px;
}

.icon-and-search {
	display: flex;
	flex-direction: row;
	margin-right: 15px;

	border-bottom: 1px solid #c4c4c4;
}

.icon-and-search input {
	border: none;
	outline: none;
	width: 410px;
}

@media all and (max-width: 1366px) {
	.icon-and-search input {
		width: 410px;
	}
}

.search {
	display: flex;
	margin: 10px;
	width: 18px;
	height: 18px;
	background: url("/data/image/search-new.png");
}

.search-film form {
	display: flex;
	margin-left: 15px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.add-film {
	display: flex;
}

.search-film button {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;

	width: 89px;
	background: #e7a04e;
	border-radius: 7px;
	border: none;
}

.search-film button:hover {
	cursor: pointer;
	background: #c28540;
}


.add-film button {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;

	margin-top: 26px;
	margin-left: 134px;
	height: 40px;
	width: 158px;
	background: #4ee7b0;
	border-radius: 7px;
	border: none;
}

.add-film button:hover {
	cursor: pointer;
	background: #42be95;
}

@media all and (max-width: 1366px) {
	.add-film button {
		margin-left: 100px;
	}
}

.content {
	min-height: 100vh;
	margin-top: 4px;
	display: flex;
	flex: 1;
	background: #ccc;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}