.menu {
	display: flex;
	flex-direction: column;
	margin: 30px;

	overflow: auto;
	scroll-behavior: smooth;
}

.menu-item {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid rgba(242, 242, 242, 0.1);
}

.menu-item a {
	color: #b7b7b7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;

	padding: 15px;
}

.menu-item a:hover {
	background: rgba(255, 255, 255, 0.05);
}

.menu-item:last-child {
	border-bottom: none;
}